*{
    margin: 0px;
    padding: 0px;
    
}

body{
    font-size: 19px;
    background-image:linear-gradient(to bottom, rgba(66, 109, 103, 0.896), white);
    background-attachment: fixed;
    color: black;
}

header {
    padding: 20px;
    padding-bottom: 50px;

    & h1 {
        font-size: 3em;
        text-align: center;
        color: white;
    }

}

div#array{



}

div#resultado {
    align-items: center;
    margin: auto;
    background-color: aquamarine;
    max-width: 500px;
    height: 400px;

}

ul#lista{
    columns: 2;
    list-style-type: none;
}

